---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import astroIcon from "../assets/astro-icon.png";
---

<Layout title="About" >
    <h1>Magic</h1>
    <div style={"display: flex; width: 100%"}>
        <Image
        style={"margin: 0 auto"}
        src={astroIcon}
        alt="Astro image"
        format="avif"
        width={300}
        transition:name="img"
      />
    </div>
   
</Layout>