---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import astroIcon from "../assets/astro-icon.png";
import { Image } from "astro:assets";
---

<Layout title="Welcome to Astro.">
  <main>
    <div>
      <div>
        <h1>View Transitions</h1>
        <p>
          The View Transitions API in JavaScript provides a seamless way to
          create smooth transitions between views or components in web
          applications.
        </p>
      </div>
     <a href="/about">
		<Image
        src={astroIcon}
        alt="Astro image"
        format="avif"
        width={500}
        transition:name="img"
      />
	</a>
    </div>
   
  </main>
</Layout>